{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Go-UPC Barcode-Lookup API",
    "description" : "Find information on products from around the globe. The API supports UPC, EAN, and ISBN barcode numbers, and info returned includes product name, description, brand, image URL, and more.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://go-upc.com/api/v1",
    "description" : "Go-UPC Barcode-Lookup API"
  }, {
    "url" : "https://virtserver.swaggerhub.com/Go-UPC/Go-UPC-Barcode-API/1.0.0",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "paths" : {
    "/code/{code}" : {
      "get" : {
        "tags" : [ "Product" ],
        "summary" : "Retrieve product info for a particular barcode number (UPC, EAN, or ISBN).",
        "operationId" : "getProductInfo",
        "parameters" : [ {
          "name" : "code",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The product corresponding to the provided `code`",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "404" : {
            "description" : "No product information was found for the given `code`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "code" : {
        "$ref" : "#/components/schemas/code"
      },
      "error" : {
        "required" : [ "error" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The provided code.",
            "example" : "329576019311"
          },
          "codeType" : {
            "description" : "The type of code provided."
          },
          "error" : {
            "type" : "string",
            "description" : "A human readable error message.",
            "example" : "The provided code is not in a recognized format."
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "codeType" : {
            "type" : "string",
            "description" : "The type of product code (UPC/EAN/ISBN).",
            "example" : "UPC",
            "enum" : [ "UPC", "EAN", "ISBN" ]
          },
          "barcodeUrl" : {
            "type" : "string",
            "description" : "The URL to the scannable barcode image.",
            "format" : "uri",
            "example" : "https://go-upc.com/barcode/829576019311"
          },
          "product" : {
            "$ref" : "#/components/schemas/inline_response_200_product"
          }
        }
      },
      "inline_response_200_product" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the product.",
            "example" : "Blue Sage Tonka Texturizing Fiber"
          },
          "region" : {
            "type" : "string",
            "description" : "The region of the product.",
            "example" : "USA or Canada"
          },
          "description" : {
            "type" : "string",
            "description" : "A description of the product (if available).",
            "example" : "Gives you an easy way to achieve the hairstyle you love. Made with jojoba esters, vegetable-derived lanolin, glycerin and carnauba wax."
          },
          "imageUrl" : {
            "type" : "string",
            "description" : "The URL for the product image.",
            "format" : "uri",
            "example" : "http://go-upc.s3.amazonaws.com/images/54066938.jpeg"
          },
          "brand" : {
            "type" : "string",
            "description" : "The brand of the product (if available).",
            "example" : "Goodfellow and Co"
          },
          "specs" : {
            "type" : "array",
            "description" : "A list of additional item specifications (if available).",
            "example" : [ [ "Item Form", "Clay" ], [ "Liquid Volume", "4 Fluid Ounces" ], [ "Scent", "Lime" ] ],
            "items" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "category" : {
            "type" : "string",
            "description" : "The category of the product (if available).",
            "example" : "Hair Care"
          },
          "upc" : {
            "type" : "integer",
            "description" : "The UPC code of the product.",
            "example" : 829576019311
          },
          "ean" : {
            "type" : "integer",
            "description" : "The EAN code of the product.",
            "example" : 829576019311
          }
        },
        "description" : "all matching product details."
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "name" : "key",
        "in" : "query"
      }
    }
  }
}